#pv-p-poll-list
  header
    > ul
      display flex
      flex-direction row

      > li:last-child
        width 100%
        text-align right
  
    .pv-dropdown
      width 260px

    li > input
      line-height 36px
      height 36px

      border none
      background transparent

      font-size 18px

      min-width 300px
  