#pvc-dev-info-bar
  height 32px
  width 100%
  padding 8px 32px

  color #fff
  background #000
  font-size 11px
  font-family monospace

  border-top 1px solid red

  display flex
  flex-direction row

  > *
    vertical-align middle
    margin-right 10px

    &:first-child
      color #00ff00
      margin-right 20px
      padding-right 20px
      border-right 1px solid #555

    &:last-child
      margin-right 0
    
    &.label
      margin-right 5px
    
    &.value
      margin-right 10px

#pvc-dib-route
  flex 1
  text-align right
