.pvc-cg-column
  display flex
  flex-direction column
  margin-right 18px

  > *
    margin-bottom 18px

    &:last-child
      margin-bottom 0

  &.pvc-cgc-two
    width calc((100vw - 200px) / 2)

  .pvc-card
    margin-bottom 17px

    &.large
      margin-bottom 80px
