@require "../../../style/colors.styl";

#pvc-modal-pre-register
  .pvc-logo
    text-align center

    & + p
      color #4c4c4c
      margin-bottom 20px
      text-align center

#pvc-mprf-form
  margin-bottom 40px

  .new-group
    margin-top 20px  

    &.pvc-inline-checkbox
      margin-top 10px

#pvc-mprf-continue
  border 1px solid #5dacd7
  background #46b4e9
  margin-bottom 10px

  &.disabled
    background #999

  &:not(.disabled):hover
    cursor pointer

#pvc-mprf-error
  color red
  font-size 12px
  text-align center
  margin-top 10px
  height 16px
  line-height 16px
