@require "../../../style/colors.styl";

#pvc-modal-signup
  .pvc-logo
    text-align center

    & + p
      color #4c4c4c
      margin-bottom 20px
      text-align center

#pvc-msf-form
  margin-bottom 10px

#pvc-msf-continue
  border 1px solid #5dacd7
  background #46b4e9

#pvc-msf-fb
  border 1px solid #455882
  background #3b5999
  margin-bottom 10px

#pvc-msf-gp
  border 1px solid #b75b4c
  background #dd4c39
  margin-bottom 20px

#pvc-msf-login
  text-align center
  color #000

  &:hover
    cursor pointer
    text-decoration underline
