@require "../../../style/colors.styl";

#pvc-mlf-form
  margin-bottom 10px

#pvc-mlf-continue
  border 1px solid #5dacd7
  background #46b4e9

#pvc-mlf-fb
  border 1px solid #455882
  background #3b5999
  margin-bottom 10px

#pvc-mlf-gp
  border 1px solid #b75b4c
  background #dd4c39
  margin-bottom 20px

#pvc-mlf-signup
  text-align center
  color #000

  &:hover
    cursor pointer
    text-decoration underline
