@require "../../style/colors"

.pvc-sidebar-wrapper
  width calc(25% - 2rem)
  min-width 340px

  margin-right 4rem

  display flex
  flex-direction column

  > i
    margin-bottom 20px
    font-size 20px

    color $pv_primary_color

  > input
    height 32px
    line-height 32px
    font-size 18px
    font-weight 600

    border none
    border-bottom 1px dotted #ccc

    margin-bottom 20px

    background transparent
  
  > textarea
    border none
    border-radius 8px
    box-shadow 0 1px 0px 1px rgba(0, 0, 0, 0.2)

    padding 20px 13px

  > h1
    font-size 24px
    margin-bottom 30px