@require ("../../../style/colors.styl")

// TODO: Break out
#pv-collection-browser
  background #f8f8f8
  padding-bottom 20px

  // For LP
  user-select none

  #pv-cb-inner
    max-width 1200px
    margin 0 auto

  header
    display flex
    flex-direction row
    padding 26px 0

    ul:first-child
      flex 1
      list-style-type square
    
      li
        display inline-block
        vertical-align middle
        margin 0 16px

        height 14px
        line-height 14px

        &:first-child
          margin-left 0

        &:last-child
          margin-right 0
        
        a
          font-weight bold
          font-size 16px

  #pv-h-teaser-text
    text-align center
    padding 50px 20%
    display block
    font-size 18px
    line-height 1.5
    font-weight 300
  
  .pv-card-grid
    display flex
    flex-direction row
    padding 0

    .pv-cg-column
      display flex
      flex-direction column
      margin-right 18px

      > *
        margin-bottom 18px

        &:last-child
          margin-bottom 0

      &.pv-cgc-two
        width calc((100vw - 200px) / 2)

      .pv-cgg-quarter-cell, pv-cgg-modal-cell
        display flex
        flex-direction row
        flex-wrap wrap

      .pv-poll-card
        margin-bottom 17px

        &.large
          margin-bottom 80px

      .pv-cgg-quarter-cell .pv-poll-card
        width calc((100% - 19px) * 0.5)

        &:nth-child(odd)
          margin-right 17px

        &:last-child
          margin-right 0

  .pv-cb-load
    width 100%
    text-align center

    button
      background transparent
      border 1px solid #d7d7d7
      border-radius 18px

      margin 25px 0
      padding 0 38px
      text-align center

      height 36px
      line-height 36px
      font-weight bold
      font-size 14px

      display inline-block
      vertical-align middle
