@require ("../../../style/colors.styl")

// TODO: Break out
#pv-collection-browser
  padding-bottom 20px

  // For LP
  user-select none

  header
    display flex
    flex-direction row
    padding 26px 0

    ul:first-child
      flex 1
      list-style-type square
    
      li
        display inline-block
        vertical-align middle
        margin 0 16px

        height 14px
        line-height 14px

        &:first-child
          margin-left 0

        &:last-child
          margin-right 0
        
        a
          font-weight bold
          font-size 16px

  #pv-h-teaser-text
    text-align center
    padding 50px 20%
    display block
    font-size 18px
    line-height 1.5
    font-weight 300
  
  .pv-cb-load
    width 100%
    text-align center
    margin-top 10px

    button
      background transparent
      border 1px solid #d7d7d7
      border-radius 18px

      margin 25px 0
      padding 0 38px
      text-align center

      height 36px
      line-height 36px
      font-weight bold
      font-size 14px

      display inline-block
      vertical-align middle

      &:not([disabled]):hover
        text-decoration underline

      &:[disabled]
        opacity 0.5
