@require "./lib/style/pv-fontello.css"

.tright
  text-align right

.bold
  font-weight 700

.fullw
  width 100%

.nopad
  padding 0

*:focus
  outline none

a
  color inherit
  text-decoration none

ul, body, html, p
  padding 0
  margin 0

ul
  list-style-type none

body
  background #f8f8f8

body, p, input, textarea
  font-family "Open Sans", Helvetica, Arial, sans-serif
  text-rendering optimizeLegibility

button:hover
  cursor pointer

h5
  font-size 14px

h3
  font-size 19px

textarea
  border none
  border-radius 8px
  background #fff
  box-shadow 0 0 4px 0 rgba(0, 0, 0, 0.2)

  height 160px
  width 100%
  padding 12px 16px 16px 16px
  font-size 14px
