<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>POVO</title>

    <link href="https://unpkg.com/@blueprintjs/core@^1.15.0/dist/blueprint.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet" />
  </head>

  <body>
    <div id="root"></div>
    
  	<script src="https://unpkg.com/classnames@^2.2" type="text/javascript"></script>
  	<script src="https://unpkg.com/tether@^1.4" type="text/javascript"></script>
  </body>
</html>
