<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>POVO</title>
  </head>

  <body>
    <div id="root"></div>
    
  	<script src="https://unpkg.com/classnames@^2.2" type="text/javascript"></script>
  	<script src="https://unpkg.com/tether@^1.4" type="text/javascript"></script>
  </body>
</html>
