@require "../../../style/colors.styl";

.pvc-poll-card
  .pvc-pc-reward-images
    display flex
    flex-direction row
    list-style-type none
    flex-wrap wrap

    li
      background-repeat no-repeat
      background-size 50%
      background-color #fff
      background-position center

    &.single li
      width 100%
      height 160px
    
    &.quarters li
      height 74px
      width 160px

      &:first-child
        border-right 1px solid #f4f4f4
        border-bottom 1px solid #f4f4f4

      &:nth-child(2)
        border-bottom 1px solid #f4f4f4

      &:nth-child(3)
        border-right 1px solid #f4f4f4
  
    &.halves li
      height 160px
      width 50%
    
    &.thirds
      max-height 162px
      flex-direction column

      li
        width 50%
        height 80px

        &:nth-child(3)
          height 160px
          float right

        &:first-child
          border-right 1px solid #f4f4f4
          border-bottom 1px solid #f4f4f4

        &:nth-child(2)
          border-right 1px solid #f4f4f4

  &.large
    article
      padding 15px 45px 30px 45px

      h3
        font-size 24px

        & + div
          width 100%
          display flex
          flex-direction row

          .button-wrap
            flex 1

    .pvc-pc-reward-images
      &.single li
        height 300px
      
      &.quarters li
        height 170px
        width 50%
    
      &.halves li
        height 285px
  
  article
    border-top 1px solid #f4f4f4  
    padding-top 15px

    h5, h3
      padding 0 !important

    .pvc-pclw-info
      margin-top 5px

    .pv-pclwi-teaser
      font-size 14px
      color #444
      font-weight 600
      margin-bottom 15px
    
    .pvc-pclwi-byline
      color #999d9e
      font-size 14px

.pvc-pc-lower-wrapper
  .pvc-pclwi-teaser
    color #000
    font-size 16px
    line-height 1.4

    width 100%
    overflow hidden
    text-overflow ellipsis

    max-height calc(16px * 1.3 * 2)
    max-width 100%

.large .pvc-pc-lower-wrapper
  padding 0 47px 34px 47px

  .pvc-pclwi-teaser
    width 80%
    margin-bottom 23px

  > div:last-child
    width 40%

    text-align center

    display flex
    flex-direction column
    justify-content center

.pvc-cg-half-cell .pvc-poll-card
  width 320px
