@require "../../../style/colors.styl";

.pvc-poll-card
  .pvc-pc-reward-images
    display flex
    flex-direction row
    list-style-type none
    flex-wrap wrap

    li
      background-repeat no-repeat
      background-size cover
      background-position center

    &.single li
      width 100%
      height 160px
    
    &.quarters li
      height 80px
      width 50%
    
    &.halves li
      height 160px
      width 50%
    
    &.thirds
      max-height 162px
      flex-direction column

      li
        width 50%
        height 80px

        &:nth-child(3)
          height 160px
          float right

  &.large .pvc-pc-reward-images
    &.single li
      height 300px
    
    &.quarters li
      height 143px
    
    &.halves li
      height 285px

.pvc-pc-lower-wrapper
  .pvc-pclwi-teaser
    color #000
    font-size 16px
    line-height 1.4

    width 100%
    overflow hidden
    text-overflow ellipsis

    max-height calc(16px * 1.3 * 2)
    max-width 100%

.large .pvc-pc-lower-wrapper
  padding 0 47px 34px 47px

  .pvc-pclwi-teaser
    width 80%
    margin-bottom 23px

  > div:last-child
    width 40%

    text-align center

    display flex
    flex-direction column
    justify-content center
