.pvc-labelled-keys-values
  > p
    font-weight bold
    margin-bottom 26px

  hr
    margin 40px 0
    border-color rgba(0, 0, 0, 0.2)
  
  li
    display flex
    flex-direction row
    margin-bottom 10px

    &:last-child
      margin-bottom 0

  .pvc-lkv-label
    width 100%
    flex 1

.pvc-redeem-event-list .pvc-lkv-value
  color #999

#pv-r-reward-list
  header
    > ul
      display flex
      flex-direction row

      > li:last-child
        width 100%
        text-align right
  
    .pv-dropdown
      width 260px

    li > input
      line-height 36px
      height 36px

      border none
      background transparent

      font-size 18px

      min-width 300px
  
.pvc-reward-card-small
  display inline-block

  > div
    display flex
    flex-direction column
    height 100%

  width calc(25% - 15px)
  height 220px

  border-radius 8px
  overflow hidden

  margin-right 20px
  margin-bottom 20px

  &:nth-child(4n)
    margin-right 0

.pvc-rcs-img
  background #999
  height 80%
  width 100%

.pvc-rcs-value
  background #fff
  height 20%

  text-align center
  font-size 18px
  font-weight bold
  line-height 40px

  border 1px solid #999
  border-bottom-right-radius 8px
  border-bottom-left-radius 8px
