.pvc-p-hr
  line-height 64px

  display flex
  flex-direction row

  span
    height 1px
    width 100%
    background-color #ccc
    margin 31px 0

  p
    margin 0
    padding 0 10px

    color #ccc
    font-size 10px
