@require "../../../style/colors.styl";

.pvc-modal-close-button
  border none
  background none
  box-shadow none
  color $pv_primary_color !important

  width auto !important
  position absolute
  top 0
  right 0

  &:before
    font-size 18px

  &:hover
    cursor pointer
